/* 接收面板富文本 */
.receive-inline-text-area,.sending-inline-text-area {
    -fx-background-color: #fbfbfb;
    -fx-border-color: #ecebeb;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-font-family: monospace;
    -fx-border-radius: 15;
}